{% extends "admin/adminbase.html" %}
{% block content %}
{%load crispy_forms_tags %}
   <div class="col-lg-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                      <div class="table-responsive">
                    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">SL NO</th>
      <th scope="col">USER</th>
      <th scope="col">NAME</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">MOBILE NUMBER</th>
      <th scope="col">EMAIL</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
  {% for n in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{n.user}}</td>
      <td>{{n.name}}</td>
      <td>{{n.address}}</td>
      <td>{{n.mobnumber}}</td>
      <td>{{n.email }}</td>
      <td><form action="{% url 'deleteC' n.id %}" method="post">
           {% csrf_token %}
           <button type="submit" class="btn btn-danger">DELETE</button>
       </form></td>
<!--      <td>@mdo</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">2</th>-->
<!--      <td>Jacob</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">3</th>-->
<!--      <td colspan="2">Larry the Bird</td>-->
<!--      <td>@twitter</td>-->
    </tr>
  {% endfor %}
  </tbody>
</table>
                          </div>
</div>
              </div>
   </div>
{% endblock %}
